<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h2>Site content</h2>
    <%= yield %>
    <h3>Footer</h3>
    <%= rails_vue_js %>
  </body>
</html>
